<div id="whywurst" class="cards-section second text-center">
	<hr>
	<h1>为什么使用WurstScript？</h1>
	Wurst为<b>魔兽争霸3</b>赋予了<b>现代程序设计模式</b>和工具！
	它有这些优点：
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:18px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-edit"></i>
				</div>
				<h3 class="title">优秀的编辑器支持</h3>
				<p class="intro">代码高亮、自动补全、即时语法检测，以及更多！</p>
				<a class="link" href="#"><span></span></a>
			</div>
		</div>
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<img src="/assets/images/whywurst/editorsupport.png" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:2px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-code"></i>
				</div>
				<h3 class="title">现代编程语言的特性</h3>
				<p class="intro">为Jass带来 元组、闭包、匿名函数、泛型 特性，以及更多！</p>
				<a class="link" href="#"><span></span></a>
			</div>
		</div>
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<img src="/assets/images/whywurst/advanced.png" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:2px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-cubes"></i>
				</div>
				<h3 class="title">标准函数库</h3>
				<p class="intro">使你可以专注于你的内容创作本身 - 经常被使用的函数库已经默认被添加进了Wurst！</p>
				<a class="link" href="#"><span></span></a>
			</div>
		</div>
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<img src="/assets/images/whywurst/stdlib.png" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:2px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-thumbs-up"></i>
				</div>
				<h3 class="title">活跃的开发团队</h3>
				<p class="intro">Wurst拥有频繁的开源更新和动态文章。</p>
				<a class="link" href="#"><span></span></a>
			</div>
		</div>
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<img src="/assets/images/whywurst/active.png" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
</div>